alive-progress==1.6.1
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.17.0
asgiref==3.2.10
astroid==2.6.2
async-generator==1.10
attrs==18.1.0
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.9.3
beautifultable==1.0.0
bleach==3.2.1
bokeh==2.2.3
boto3==1.17.106
botocore==1.20.106
branca==0.4.1
cachetools==4.2.1
camelcase==0.2
certifi==2020.6.20
cffi==1.14.3
cfgv==3.2.0
chardet==3.0.4
Choco==1.0.5
chromedriver-autoinstaller==0.2.2
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
ConfigArgParse==1.2.3
coursera-dl==0.11.5
coverage==5.3
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Delorean==1.0.0
Deprecated==1.2.11
distlib==0.3.1
Django==3.1.6
django-crispy-bulma==0.2
django-crispy-forms==1.11.0
docopt==0.6.2
entrypoints==0.3
ffmpeg==1.4
filelock==3.0.12
fire==0.3.1
flashtext==2.7
folium==0.11.0
geographiclib==1.50
geopy==2.0.0
gh==0.0.4
gitdb==4.0.7
GitPython==3.1.17
google==3.0.0
google-api-core==1.26.3
google-api-python-client==2.2.0
google-auth==1.29.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
googletrans==3.0.0
greenlet==1.0.0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
h5py==3.1.0
howdoi==2.0.10
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httplib2==0.19.1
httpserver==1.1.0
httpx==0.13.3
humanize==3.1.0
hyperframe==5.2.0
identify==1.5.12
idna==2.10
ImageHash==4.2.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.9.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
keep==2.10
keyring==21.5.0
kiwisolver==1.3.0
lazy-object-proxy==1.6.0
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
metaflow==2.3.2
mistune==0.8.4
MouseInfo==0.1.3
mutagen==1.45.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
nnfs==0.5.1
nodeenv==1.5.0
notebook==6.1.4
numpy==1.20.1
oauthlib==3.1.0
packaging==20.4
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
pickleshare==0.7.5
Pillow==8.0.1
pip-review==1.1.0
pluggy==0.13.1
pre-commit==2.9.3
progress==1.5
progressbar2==3.53.1
prometheus-client==0.8.0
prompt-toolkit==3.0.16
protobuf==3.15.8
psycopg2==2.9.1
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
PyGetWindow==0.0.9
PyGithub==1.54.1
Pygments==2.7.2
PyJWT==1.7.1
pylint==2.9.3
PyMsgBox==1.0.9
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.1
pypng==0.0.20
PyQRCode==1.2.1
pyquery==1.4.3
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
pyshorteners==1.0.1
pysrt==1.1.2
python-dateutil==2.8.1
python-utils==2.4.0
pytube==10.4.1
PyTweening==1.0.3
pytz==2020.1
PyWavelets==1.1.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
rapidfuzz==0.14.2
redis==3.5.3
regex==2020.10.28
requests==2.25.0
requests-oauthlib==1.3.0
rfc3986==1.4.0
rich==9.8.2
rsa==4.7.2
s3transfer==0.4.2
scikit-learn==0.23.2
scipy==1.5.4
scoop==0.7.1.1
seaborn==0.11.0
selenium==3.141.0
selenium-wire==2.1.2
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
smmap==4.0.0
sniffio==1.2.0
soupsieve==2.0.1
spotdl==3.3.1
spotipy==2.16.1
sqlparse==0.4.1
sudo==1.0.0
tabulate==0.8.9
termcolor==1.1.0
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.0.4
tox==3.21.0
tqdm==4.51.0
traitlets==5.0.5
translate==3.5.0
typing-extensions==3.7.4.3
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.2
urlshortener==1.0.0
virtualenv==20.3.0
waitress==2.0.0
wcwidth==0.2.5
webencodings==0.5.1
wikipedia==1.4.0
wrapt==1.12.1
ytmusicapi==0.13.1
